*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}

#nav-part1{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2{
    width: 35%;
    display: flex;
    justify-content: space-between;
}

#nav h2{
    font-size: 20px;
    font-weight: 600;
}

#nav h3{
    font-size: 20px;
    font-weight: 600;
}

#nav h4{
    font-size: 20px;
    font-weight: 600;
}

#content{
    margin-top: 60px;
    padding: 40px 65px;
}

#content h3{
    font-size: 35px;
    font-weight: 500;
}

#content h1 {
    margin-top: 40px;
    font-size: 150px;
    font-weight: 300;
    line-height: 150px;
    letter-spacing: -12px;
    word-spacing: 10px;
}

#case{
    padding: 40px 65px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#case h4{
    font-size: 26px;
    font-weight: 500;
}

#right{
    display: flex;
    align-items: center;
    gap: 40px;
}

#case h5{
    font-size: 26px;
    font-weight: 500;
}

#line{
    height: 2px;
    width: 160px;
    background-color: black;
}

#projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 65px;
    gap: 90px;
}

#elem{
    width: 50%;
}

.elem-img{
    height: 700px;
    width: 100%;
    border-radius: 30px;
    background-color: rgb(96, 168, 204);
    background-size: cover;
    background-position: center;
}

#img1{
    background-image: url(https://pagedone.io/asset/uploads/1707480017.png);
}

#img2{
    background-image: url(https://cdn.dribbble.com/userupload/4088526/file/original-aaae68cf4439b097e5aaafb2fcb97908.png?resize=1200x900);
}

#bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}

#bottom i{
    padding: 14px 30px ;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 50px;
    font-weight: 800;
}

#bottom i:hover{
    background-color: black;
    color: white;
}

#bottom h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
}

#bottom h4{
    font-size: 20px;
    color: rgb(87, 87, 87);
}